<div class="sidebar-content" style="display: block;height: calc(100vh - 100px) !important;min-width: 280px !important;">
        <!-- User menu -->
        <div class="sidebar-user">
            <div class="category-content">
                <div class="media">
                    <a href="#" class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                    <div class="media-body">
                        <span class="media-heading text-semibold">Admin</span>
                        <div class="text-size-mini text-muted">
                            <i class="icon-pin text-size-small"></i> &nbsp;Việt Nam
                        </div>
                    </div>

                    <div class="media-right media-middle">
                        <ul class="icons-list">
                            <li>
                                <a href="#"><i class="icon-cog3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                    <li><a href="index.html"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                    <li>
                        <a href="#"><i class="icon-stack2"></i> <span>Quản lý</span></a>
                        <ul>
                            <li><a [routerLink]="['/kh']">Khách hàng</a></li>
                            <li><a [routerLink]="['/nv']">Nhân viên</a></li>
                            <li><a [routerLink]="['/th']">Thuê</a></li>
                            <li><a [routerLink]="['/phong']">Phòng</a></li>
                            <li><a [routerLink]="['/oto']">Hóa đơn</a></li>
                            <li><a [routerLink]="['/thucdon']">Thực đơn</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

</div>