<div class="container-xxl bg-dark mb-5" style="margin-top: -50px;">
       <div class="container my-5 py-5">
           <div class="row align-items-center g-5">
               <div class="col-lg-6 text-center text-lg-start">
                   <h1 class="display-3 text-white animated slideInLeft">Trải nghiệm<br>Sự khác biệt</h1>
                   <p class="text-white animated slideInLeft mb-4 pb-2">Đã bao lâu rồi bạn chưa đi du lịch cùng gia đình thân thương của mình? Hãy đến với chúng tôi để có thể tận hưởng mọi thứ bạn cần với một phong cách cực kỳ khác biệt</p>
                   <a href="" class="btn btn-blue py-sm-3 px-sm-5 me-3 animated slideInLeft">Đặt phòng ngay</a>
               </div>
               <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                   <img class="img-fluid" src="./assets/images/banner-bg.png" alt="Phong">
               </div>
           </div>
       </div>
   </div>
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Nhân viên thân thiện</h5>
                        <p>Sãn sàng đáp ứng mọi yêu cầu của bạn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-umbrella-beach text-primary mb-4"></i>
                        <h5>Dịch vụ chất lượng</h5>
                        <p>Đáp ứng mọi thứ bạn muốn, mọi thứ bạn cần.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Sử dụng trực tuyến</h5>
                        <p>Trải nghiệm tối ưu chỉ với thiết bị của bạn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>Chăm sóc khách hàng</h5>
                        <p>Luôn ở bên cạnh bạn 24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img style="height: 100%;" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                            src="./assets/images/img-1.png">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                            src="./assets/images/img-2.png" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                            src="./assets/images/img-3.png">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                            src="./assets/images/img-4.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Giới thiệu về chúng tôi</h5>
                <h1 class="mb-4">Chào mừng đến với <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b></h1>
                <p class="mb-4">&nbsp;&nbsp;&nbsp;<b class="ff-secondary text-start text-primary">T</b>ọa lạc ngay trung
                    tâm thành phố Hà Nội, <b class="ff-secondary text-start text-primary fw-normal">Thăng Long Hotel</b>
                    được đầu tư hệ thống phòng có diện tích khác nhau từ 27- 37 m2 phù hợp với nhiều nhu cầu của khách
                    hàng. Hệ thống trang thiết bị hiện đại, điều hòa, tivi màn hình led, sofa sang trọng, wifi tiện ích
                    và các các dịch vụ đưa đón khách tham quan các điểm du lịch. Được thiết kế và trang trí theo kiến
                    trúc Pháp sang trọng và ấm cúng luôn mang lại sự hài lòng và thoải mái cho khách hàng trong suốt
                    thời gian lưu trú tại <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b>.
                <p class="mb-4">&nbsp;&nbsp;&nbsp;<b class="ff-secondary text-start text-primary">Thăng Long Hotel</b>
                    được biết đến với phong cách phục vụ ân cần, chuyên nghiệp, đúng tiêu chuẩn quốc tế và là địa điểm
                    ẩm thực hàng đầu. Nhà hàng <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b> với thực đơn phong phú, đa dạng các món ăn hảo hạng và phục vụ xuyên suốt 24/7. Hãy
                    đến với <b class="ff-secondary text-start text-primary fw-normal">Thăng Long Hotel</b> để tận hưởng
                    phong cách phục vụ chuyên nghiệp tại khách sạn, cùng sự hiếu khách của thành phố cổ kính Hà Nội.</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Năm</p>
                                <h6 class="text-uppercase mb-0">Kinh nghiệm</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Phòng</p>
                                <h6 class="text-uppercase mb-0">Chất lượng cao</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Đọc thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Reservation Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal"
                    data-src="https://www.youtube.com/embed/8AOs_Y4QXRE" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Đặt phòng</h5>
                <h1 class="text-white mb-4">Đặt một phòng trực tuyến</h1>
                <form>
                    <div class="row g-3">
                        <!-- <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div> -->
                        <div class="col-md-12">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input class="form-control datetimepicker-input"
                                    style="padding-left:20px;"
                                    name="daterange" value="" id="tg" placeholder="Ngày nhận phòng - Ngày trả phòng"
                                    readonly />
                                    <label for="email">Ngày nhận - trả phòng</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select" id="select1">
                                      <option value="1">People 1</option>
                                      <option value="2">People 2</option>
                                      <option value="3">People 3</option>
                                    </select>
                                    <label for="select1">No Of People</label>
                                  </div>
                            </div> -->
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Special Request" id="message"
                                    style="height: 100px"></textarea>
                                <label for="message">Ghi chú thêm</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <a [routerLink]="['/p']"><button class="btn btn-primary w-100 py-3">Tìm phòng ngay</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="./assets/" id="video" allowfullscreen
                        allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Start -->


<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Ban lãnh đạo</h5>
            <h1 class="mb-5">Ban lãnh đạo của chúng tôi</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Đoàn Hữu Gia</h5>
                    <small>Tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-2.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Nguyễn Đình Công</h5>
                    <small>Phó tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-3.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Lê Quốc Khánh</h5>
                    <small>Phó tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-4.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Hồ Sỹ Tùng</h5>
                    <small>Chủ tịch hội đồng quản trị</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Phản hồi khách hàng</h5>
            <h1 class="mb-5">Những bình luận của khách hàng!!!</h1>
        </div>
        <div  class="owl-carousel testimonial-carousel" >
            <div *ngFor="let item of alo2" class="testimonial-item bg-transparent border rounded p-4">
                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                <p>{{item.noidung}}</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="./assets/img/testimonial-1.jpg"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h5 class="mb-1">{{item.ten}}</h5>
                        <small>Khách hàng</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->