<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
   <div class="container py-5">
       <div class="row g-5">
           <div class="col-lg-3 col-md-6">
               <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Công ty</h4>
               <a class="btn btn-link" href="">Giới thiệu</a>
               <a class="btn btn-link" href="">Kết nối</a>
               <a class="btn btn-link" href="">Chính sách bảo mật</a>
               <a class="btn btn-link" href="">Điều khoản & Điều kiện</a>
           </div>
           <div class="col-lg-3 col-md-6">
               <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Liên hệ</h4>
               <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Khoái Châu, Hưng Yên, Việt Nam</p>
               <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
               <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
               <div class="d-flex pt-2">
                   <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                   <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                   <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                   <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
               </div>
           </div>
           <div class="col-lg-3 col-md-6">
               <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Mở cửa</h4>
               <h5 class="text-light fw-normal">7 ngày / tuần</h5>
               <h5 class="text-light fw-normal">356 ngày / năm</h5>
               <p>Luôn luôn chào đón bạn</p>
           </div>
           <div class="col-lg-3 col-md-6">
               <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Bản tin</h4>
               <p>Chưa có tin mới</p>
               <div class="position-relative mx-auto" style="max-width: 400px;">
                   <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Email của bạn">
                   <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Đăng nhập</button>
               </div>
           </div>
       </div>
   </div>
</div>