<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img style="height: 100%;" class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                            src="./assets/images/img-1.png">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                            src="./assets/images/img-2.png" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                            src="./assets/images/img-3.png">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                            src="./assets/images/img-4.png">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Giới thiệu về chúng tôi</h5>
                <h1 class="mb-4">Chào mừng đến với <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b></h1>
                <p class="mb-4">&nbsp;&nbsp;&nbsp;<b class="ff-secondary text-start text-primary">T</b>ọa lạc ngay trung
                    tâm thành phố Hà Nội, <b class="ff-secondary text-start text-primary fw-normal">Thăng Long Hotel</b>
                    được đầu tư hệ thống phòng có diện tích khác nhau từ 27- 37 m2 phù hợp với nhiều nhu cầu của khách
                    hàng. Hệ thống trang thiết bị hiện đại, điều hòa, tivi màn hình led, sofa sang trọng, wifi tiện ích
                    và các các dịch vụ đưa đón khách tham quan các điểm du lịch. Được thiết kế và trang trí theo kiến
                    trúc Pháp sang trọng và ấm cúng luôn mang lại sự hài lòng và thoải mái cho khách hàng trong suốt
                    thời gian lưu trú tại <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b>.
                <p class="mb-4">&nbsp;&nbsp;&nbsp;<b class="ff-secondary text-start text-primary">Thăng Long Hotel</b>
                    được biết đến với phong cách phục vụ ân cần, chuyên nghiệp, đúng tiêu chuẩn quốc tế và là địa điểm
                    ẩm thực hàng đầu. Nhà hàng <b class="ff-secondary text-start text-primary fw-normal">Thăng Long
                        Hotel</b> với thực đơn phong phú, đa dạng các món ăn hảo hạng và phục vụ xuyên suốt 24/7. Hãy
                    đến với <b class="ff-secondary text-start text-primary fw-normal">Thăng Long Hotel</b> để tận hưởng
                    phong cách phục vụ chuyên nghiệp tại khách sạn, cùng sự hiếu khách của thành phố cổ kính Hà Nội.</p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                            <div class="ps-4">
                                <p class="mb-0">Năm</p>
                                <h6 class="text-uppercase mb-0">Kinh nghiệm</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                            <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                            <div class="ps-4">
                                <p class="mb-0">Phòng</p>
                                <h6 class="text-uppercase mb-0">Chất lượng cao</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Đọc thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Ban lãnh đạo</h5>
            <h1 class="mb-5">Ban lãnh đạo của chúng tôi</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Đoàn Hữu Gia</h5>
                    <small>Tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-2.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Nguyễn Đình Công</h5>
                    <small>Phó tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-3.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Lê Quốc Khánh</h5>
                    <small>Phó tổng giám đốc</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="./assets/img/team-4.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Hồ Sỹ Tùng</h5>
                    <small>Chủ tịch hội đồng quản trị</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
